:root {
    --contentimg: 1;
    --contentline: 1;
}

.flex {
    display: flex;
}

.main-page-container {
    width: 100%;
    height: 90%;
    margin: 24px 60px 0 60px;
}

.main-page-contentbox-border {
    border: 1px solid #cbced0;
    border-radius: 15px;
    margin-bottom: 55px;
}

.main-page-contentbox {
    padding: 0 20px;
}

.main-page-contentbox-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 8px;
}

.main-page-contentbox-content {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
}

.main-page-contentbox-content-more {
    cursor: pointer;
    color: #cbced0;
}

.main-page-contentbox-imgbox {
    width: 600px;
    height: calc( 600px / var(--contentline ) );
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.main-page-contentbox-imgbox-underbox {
    display: flex;
    width: calc( 100% / var(--contentimg) );
    /* height: calc( 100% / var(--contentline) ); */
    height: 100%;
}

.main-page-contentbox-imgbox-overbox {
    display: flex;
    width: calc( 100% / var(--contentimg) );
}

.main-page-contentbox-imgbox-span {
    width: 98%;
    height: 98%;
    padding: 1%;
}

.main-page-contentbox-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-page-contentbox-feedbackbox-over {
    padding: 320px 20px 20px 20px;
}

.main-page-contentbox-feedbackbox-under {
    padding: 20px;
}