@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    height: 100%;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    padding: 0 15%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

#root {
    height: 100%;
}

.mainlayout {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.mainlayout-navi {
    width: 10%;
    height: 100%;
    border-right: 1px solid lightgray;
    text-align: center;
}

.mainlayout-main {
    width: 60%;
    height: 100%;
    border-right: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainlayout-sub {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainlayout-navi-box {
    height: 100%;
    flex-direction: column;
}

.mainlayout-navi-title {
    width: 100%;
    height: 20%;
}

.mainlayout-navi-linkbox {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative
}

.mainlayout-navi-link {
    height: 10%;
}

.mainlayout-navi-text{
    padding-left: 1vw;
    position: relative;
    bottom: 10%;
}