
.profile-component-container {
    width: auto;
    height: 70px;
    padding: 0 20px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-component-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-component-box-imgbox {
    display: flex;
    width: 46px;
    min-width: 46px;
    height: 46px;
}

.profile-component-box-imgbox-img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 100%;
}

.profile-component-box-namebox {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin-left: 16px;
}

.profile-component-box-namebox-name {
    display: flex;
    width: 100%;
    height: 48%;
    align-items: end;
}

.profile-component-box-namebox-namebox {
    display: flex;
    width: 100%;
    height: 48%;
    padding-top: 2%;
    align-items: center;
    font-size: 14px;
    font-weight: 300
}

.profile-component-box-namebox-namebox-location {
    display: flex;
    width: auto;
    height: 100%;
    padding-right: 5%;
    align-items: flex-start;
    color: #0060ff;
}

.profile-component-box-namebox-namebox-time {
    display: flex;
    width: auto;
    height: 100%;
    align-items: flex-start;
    color: #93999f;
}

.profile-component-box-infobox {
    display: flex;
    width: 15%;
    height: 100%;
}